@model IEnumerable<ProductDisplayVM>

@if (Model != null)
{
    <div class="container">
        <div class="row pt-4 my-2">
            <div class="col-5">
                <h2 class="text-primary">Products That Have Been Created</h2>
            </div>
            <div class="col-7 text-end">
                <a asp-action="Upsert" class="btn btn-primary"><i class="bi bi-folder-plus">&nbsp; New Product</i></a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Created By</th>
                    <th>Time Created</th>
                    <th>Color Name</th>
                    <th>Shape Name</th>
                    <th>Transparency Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Price.ToString("c")</td>
                        <td>@product.Artist</td>
                        <td>@product.Created</td>
                        <td>@product.Color.Name</td>
                        <td>@product.Shape.Name</td>
                        <td>@product.Transparency.Value %</td>
                        <td>
                            <div class="w-100 btn-group" role="group">
                                <a asp-action="Upsert" asp-route-id="@product.Id" class="btn btn-primary mx-1"><i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Edit</a>
                                <form method="post">
                                    <button type="submit" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-secondary"><i class="bi bi-x-circle"></i>&nbsp;&nbsp;Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No products found</p>
}