@model ProductUpsertModel
@{
    var formtype = Model?.Id == 0 ? "Create" : "Upsert";

}

<h1 class="shaper-title">@formtype.ToUpper() Product</h1>
<div class="shaper-container">
    <form method="post">
        <input asp-for="@Model.Id" hidden />
        <input asp-for="@Model.Price" hidden />
        <input asp-for="@Model.Artist" hidden />
        <input asp-for="@Model.Created" hidden />


        <div class="row my-2">
            <div class="col">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="col">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description"></span>
            </div>
        </div>

        <div class="row my-2">
            <div class="col">
                <label asp-for="ColorId" class="col-md-2"></label>
                <select asp-for="ColorId" asp-items="@Model.Colors" class="form-control">
                    <option disabled selected>--Select Color--</option>
                </select>
            </div>
            <div class="col">
                <label asp-for="ShapeId" class="col-md-2"></label>
                <select asp-for="ShapeId" asp-items="@Model.Shapes" class="form-control">
                    <option disabled selected>--Select Shape--</option>
                </select>
            </div>
        </div>

        <div class="col-4">
            <label asp-for="TransparencyId" class="col-md-2"></label>
            <select asp-for="TransparencyId" asp-items="@Model.Transparencies" class="form-control">
                <option disabled selected>--Select Transparency--</option>
            </select>
        </div>

        <partial name="Buttons/_Confirm" model="formtype" />
    </form>
</div>

